/* Basic styling for the login form */
h3{
    margin-left: 43%;
}
form {
    max-width: 300px;
    margin:  auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}
input {
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}
button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
}

